*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width:100%;
    height:100vh;
    background:#1e2227;
    color:#fff
}

nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 30px 8%;
    position: fixed;
    top:0;
    width:100%;
    background:#1e2227;
    z-index:1;

}

.logo{
    width:120px;
    cursor:pointer
}

.icons img{
    width:25px;
    margin-left:30px;
    cursor:pointer;
    transition: transform 0.5s ease;
}

.icons img:hover{
    transform:scale(1.1)
}

.row{
    height:100%;
    width:100%;
    display:flex;
}

.col-1,.col-2{
    flex-basis:50%;
    height:100%;
    display:flex;
    justify-content:center;
    flex-direction:column;

}

form input{
    margin-left:163%;
    padding:10px 20px;
    border-radius:5px;
    border:none;
    outline:none;
    display:none;
    transition: 0.5s ease;
}

.col-2{
    background: red;
    padding-top:8%;
    position:relative;
    overflow:hidden;
    margin-left:-10px;

}

.col-1{
    padding-left:8%
}

.col-1 h1{
    font-size:73px;
    line-height: 100px;
    margin-bottom:5px;
}

.col-1 h2{
    font-size:35px;
    margin-top:60px;
    font-weight:500;
}

button{
    display: inline-block;
    width: fit-content;
    padding: 18px 50px;
    background: red;
    border: none;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius:6px;
    transition: transform 0.5s;
}

button:hover{
    background: #aa0505;
    transform: translateY(-5px);
}

.feature{
    width: 100%;
    text-align: center;
    transform: rotate(-20deg);
}

.feature img:hover{
    transform: scale(1.1);
}

.feature img{
    width:80%;
    cursor:pointer;
    transition: transform 0.5s ease;

}

.small-img-row{
    display: flex;
    width:80%;
    margin:70px auto 0;
    align-items: center;
    justify-content: space-around;
}

.small-img{
    width:80px;
    height:80px;
    background:#ccc;

}

.small-img img{
    width:120px;
    cursor: pointer;
    transform: translate(-50px, 20px) rotate(-20deg);
}

.small-img:nth-child(1){
    background:#b9c8ff;
}
.small-img:nth-child(2){
    background:#91ffdd;
}
.small-img:nth-child(3){
    background:#ff6767;
}
.small-img:nth-child(4){
    background:#9dff90;
}

.col-2 h2{
    position: absolute;
    left:10%;
    top:18%;
    font-size: 130px;
    opacity: 0.3;
}


.zoom{
    animation:zoomout 0.5s linear 1;
}

@keyframes zoomout{
    0%{
        transform:scale(1.2)
    }
    100%{
        transform: scale(1);
    }
}